<!doctype html>
<html>
	<body>
		<div th:fragment="comentarios">
			<div class="row">
					<form action="/procesar-comentario">
						<input name="id" type="hidden" th:value="${id}"></input>
						<textarea name="comentarionuevo" type="text" placeholder="Ingrese su comentario..."></textarea>
						<input type="submit"></input>
					</form>
				</div>
				
				
				<div class="row" th:each="comentario:${listadoComentarios}">
					<div class="row com-box">
					<div class="col-1">
					<img class="img-fluid" th:src="${comentario.foto_perfil}"></img>
					</div>
					<div class="col-10">
					<label class="text-uppercase" th:text="${comentario.nombre_usuario} + ' '"></label>
					<label class="comentario-modificable"  th:text="${comentario.contenido}"></label>
					<form class="form-modificar-oculto form-mod" action="/modificar-comentario">
							<textarea name="comentarionuevo" th:text="${comentario.contenido}" type="text" placeholder="Modificar comentario..."></textarea>
							<input name="id" type="hidden" th:value="${id}"></input>
							<input name="idcom" type="hidden" th:value="${comentario.id}"></input>
							<input type="submit" value="modificar" class="btn btn-primary btn-xs"></input>
					</form>
					<h6 th:text="${comentario.fecha}"></h6>
					</div>
					</div>
					<form action="/eliminar-comentario">
							<input name="id" type="hidden" th:value="${id}"></input>
							<input name="idcom" type="hidden" th:value="${comentario.id}"></input>
							<input type="submit" value="borrar comentario" class="btn btn-primary btn-xs"></input>
					</form>
					<button class="boton-modificar-com">Modificar Comentario</button>
					
					<button class="boton-subcomentar">Responder <i class="fa fa-reply"></i></button>
					<form class="col-12 form-subcomentar-oculto form-subcom" action="/procesar-subcomentario">
								<input name="id" type="hidden" th:value="${id}"></input>
								<input name="idcom" type="hidden" th:value="${comentario.id}"></input>
								<textarea name="comentarionuevo" type="text" placeholder="Ingrese su comentario..."></textarea>
								<input type="submit"></input>
					</form>
					
					<div class="col-12 subcom-box">
						<div th:each="subcom:${comentario.subcomentario}">
							<div class="row">
							<div class="col-1">
							<img class="img-fluid" th:src="${subcom.foto_perfil}"></img>
							</div>
							<div class="col-11">
							<label class="text-uppercase" th:text="${subcom.nombre_usuario} + ' ' + ${subcom.fecha}"></label>
							<label class="" th:text="${subcom.contenido}" ></label>
							</div>
							</div>
							<form  action="/eliminar-comentario">
							<input name="id" type="hidden" th:value="${id}"></input>
							<input name="idcom" type="hidden" th:value="${subcom.id}"></input>
							<input type="submit" value="borrar comentario" class="btn btn-primary btn-xs"></input>
							</form>
							
						</div>	
					</div>
		
				</div>
		</div>
		
</body>
</html>


