.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 22px 10px;
    text-decoration: none;
    font-size: 16px;
}
.centrado{
	vertical-align: -webkit-baseline-middle;
}
.badge-notify {
    background: red;
    position: relative;
    top: -20px;
    right: 10px;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

