html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}


.foot-listado{
	font-size: 1.5rem;
    text-align: center;
}
     
.no-padding{
	padding:0px;	
}

.flex-end{
 	display: flex;
	justify-content:flex-end;
}

.margin-bot-top{
	margin-top: 2rem;
    margin-bottom: 2rem;
}

.logoredes {
	padding: 2.5%;
    padding-top: 0%;
    width: 1000px;
}

.sin-margen {
	margin:0px;
}

.botonSubirImagen{
	
}
.comentario_modificable{
	display:block;
}

.form-modificar-oculto{
	display:none;
}

.form-modificar-visible{
	display:block;
}

.form-subcomentar-oculto{
	display:none;
}

.form-subcomentar-visible{
	display:block;
}

.div_oculto{
	display:none;
}

.div_visible{
	display:block;
}

.card {
	padding:1rem;
	width: 15rem;
    margin: 1rem;
}

.form-busqueda {
	display: inline-block;
    width: 8rem;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-inline{
	padding: 4px 5px 2px 2px;
    position: relative;
    width: 215px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.08) !important;
    float: right;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 2px;
    float: right;
}

.usuariolog{
	  margin-left: 1rem;
}

.subcom-box{
	padding-left: 5rem;
	margin: 1rem;
}

.subcom-unibox{
	margin: 1rem;
	padding: 1rem;
	
}


.com-box{
	margin: 1rem;
	padding: 1rem;
}

.bg-com{
	background-color:#99b3ff;
	border-radius: 1rem;
}

.bg-subcom{
	background-color:#ccd9ff;
	border-radius: 1rem;
}

.coment-area{
	background:#e6e6e6;
	border-radius: 1rem;
	width:30rem;
	padding: 1rem;
	
}

.verde{
	background-color: green;
	padding-right: 0px;
}

.amarillo{
	background-color: yellow;
	padding-right: 0px;
}

.naranja{
	background-color: orange;
	padding-right: 0px;
}

.rojo{
	background-color: #ff1a1a;
	padding-right: 0px;
}

.rojo-oscuro{
	background-color: #cc0000;
	padding-right: 0px;
}

@import "lesshat";

/* Mixings &  Variables */
@barHeight: 20px;
@borders: #717D95;
@primary: #59BAC0;

.transition (@property) {
  -webkit-transition: @property;
  -moz-transition: @property;
  -o-transition: @property;
  transition: @property 
}

.transform(@degree) {
  transform:rotate(@degree);
  -ms-transform:rotate(@degree);
  -webkit-transform:rotate(@degree); 
}


.grafico-barras{
	margin-bottom: 1em;
	position: relative;
	width: 80%;
 	margin: 1em;
	height: auto;
}

.barra-fondo{
  border-radius: 2px;
    background: #DAE4EB;
    margin-bottom: 10px;
    display: block;
}

.barras{  
    background-color: cyan;    
    .transition(all 1s ease-out);
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;
    padding-left: .5em;
    position: relative;
    z-index: 9999;
    display: block;
    height: 20px;  
    width: 0%; 
    
    
    &:hover {
      .transition(all 0.5s ease);
    }
    
    &:last-child {
      margin-bottom: 0;
    }
    
    &:after {
      position: absolute;
      content: attr(data-value);
      display: none;
      
      font-size: 12px;
      border-radius: 4px;
      background: rgba(0,0,0,0.5);
      color: #fff;      
       
      padding: 0 10px;
      
      margin-left: 5px;
      left: 100%;
      top: 0;
    }
    
    &:hover:after {
      display: block;
    }
  
  
  &-legend {
    position: absolute;
    margin-right: 10px;
    left: -40px ;
    z-index: 9999;
  }




}