<!doctype html>
<html>
	<head>
		<div th:replace="fragments/header :: headhtml">Header</div>
		<meta charset="UTF-8"></meta>
		<title>Listado de Usuarios</title>	
	</head>

	<body>
		<div class="container">
			<div th:replace="@{'fragments/' + ${header}} :: header">Header</div>
			
		<!-- Write your comments here -->
			<div class="row">
				<div class="col-12">
					<h1 class="row">Listado de Productos</h1>
					<br></br>
					<div class="row">
						<div class="col-1">id</div>
						<div class="col-1">img</div>
						<div class="col-3">marca</div>
						<div class="col-3">modelo</div>
						<div class="col-1">modificar</div>
						<div class="col-1">eliminar</div>
					</div>	
					<div th:each="producto:${listadoProductos}" class="row">
						<div class="col-1" th:text="${producto.id}">id</div>
						<div class="col-1"><img class="card-img-top img-fluid" alt="Responsive image" th:src="${producto.urlimagen}"></img></div>
						<div class="col-3" th:text="${producto.marca}">marca</div>
						<div class="col-3" th:text="${producto.modelo}">modelo</div>
						<div class="col-1"><a th:href="'/modificar-producto/' + ${producto.id}">MODIFICAR</a></div>
						<div class="col-1"><a th:href="'/eliminar-producto/' + ${producto.id}">ELIMINAR</a></div> 
					</div>
					<div class="row"><a href="/registro-producto">AÑADIR PRODUCTO NUEVO</a></div>
					<br></br>
					<h1 class="row">Listado de Juegos</h1>
					<div th:each="juego:${listadoJuegos}" class="row">
						<div class="col-1" th:text="${juego.id}">id</div>
						<div class="col-1"><img class="card-img-top img-fluid" alt="Responsive image" th:src="${juego.urlimagen}"></img></div>
						<div class="col-3" th:text="${juego.nombre}">nombre</div>
						<div class="col-3" th:text="${juego.desarrollador}">desarrollador</div>
						<div class="col-1"><a th:href="'/modificar-juego/' + ${juego.id}">MODIFICAR</a></div>
						<div class="col-1"><a th:href="'/eliminar-juego/' + ${juego.id}">ELIMINAR</a></div> 
					</div>
				
					<div class="row"><a href="/registro-juego">AÑADIR JUEGO NUEVO</a></div>
					<br></br>
					<h1 class="row">Listado de Usuarios</h1>
					<div th:each="usuario:${listadoUsuarios}" class="row">
						<div class="col-1" th:text="${usuario.id}">id</div>
						<div class="col-1"><img class="card-img-top img-fluid" alt="Responsive image" th:src="${usuario.imagen_de_perfil}"></img></div>
						<div class="col-2" th:text="${usuario.nombre}">nombre</div>
						<div class="col-2" th:text="${usuario.nick}">nick</div>
						<div class="col-3" th:text="${usuario.mail}">mail</div>
						<div class="col-1"><a th:href="'/modificar-usuario/' + ${usuario.id}">MODIFICAR</a></div>
						<div class="col-1"><a th:href="'/eliminar-usuario/' + ${usuario.id}">ELIMINAR</a></div> 
					</div>
					
				</div>
				
				
				
				
				<!--<div class="card-group" th:each="producto:${listadoProductos}">
					<div class="card">
					  <img class="card-img-top img-fluid" alt="Responsive image" th:src="${producto.urlimagen}"></img>
					  <div class="card-body">
					    <h5 class="card-title" th:text="${producto.tipo} +' '+ ${producto.marca} +' '+ ${producto.modelo}"></h5>
					    <p class="card-text" th:text="${producto.sata?: ''} +' '+ ${producto.socketcpu?: ''} +' '+ ${producto.tiporam?: '' } + ' '+ ${producto.tamanio?: ''} +' '+ ${producto.velocidad?: ''} +' '+ '$' +${producto.precio?: ''}"></p>
					    <a href="#" class="btn btn-primary">Añadir al carrito</a><a th:href="'/detalle/' + ${producto.id}" class="btn btn-primary">Detalles</a>
					  </div>
					</div>
					
				</div>-->
				
			</div>
			<div th:replace="fragments/header :: footer"></div>
			
			
		</div>	
	</body>

</html>