<!doctype html>
<html>
	<head>
		<div th:replace="fragments/header :: headhtml">Header</div>
		<meta charset="UTF-8"></meta>
		<title>Listado de Usuarios</title>	
	</head>

	<body>
		<div class="container">
			<div th:replace="@{'fragments/' + ${header}} :: header">Header</div>
			
		
			<div class="row">
				<h1 class="col-12">Listado  de Productoss</h1>
				<br></br>
				<div class="col-3">
					<form action="/comparar-pc">
						<div class="form-group">
							<label for="microprocesador">Example select</label> 
							<select name="micro" class="form-control" id="microprocesador" >
								<option th:each="producto:${listadoMicroprocesador}" th:value="${producto.id}" th:text="${producto.marca} +' '+ ${producto.modelo}">placa de video</option>
							</select>	
						</div>
						<br></br> 
						<div class="form-group">
							<label for="placadevideo"></label> 
							<select name="placa" class="form-control" id="placadevideo" >
								<option th:each="producto:${listadoPlacaDeVideo}"  th:value="${producto.id}" th:text="${producto.marca} +' '+ ${producto.modelo}">placa de video</option>
							</select>
						</div>
						<br></br> 	
						<div class="form-group">
							<label for="memoriaram1"></label> 
							<select name="memoria1" class="form-control" id="memoriaram1" >
								<option th:each="producto:${listadoMemoria}" th:value="${producto.id}" th:text="${producto.marca} +' '+ ${producto.modelo} +' '+ ${producto.tamanio}">placa de video</option>
							</select>
						</div>
						<div class="form-group">
							<label for="memoriaram2"></label> 
							<select name="memoria2" class="form-control" id="memoriaram2" >
								<option value="0">---</option>
								<option th:each="producto:${listadoMemoria}" th:value="${producto.id}" th:text="${producto.marca} +' '+ ${producto.modelo} +' '+ ${producto.tamanio}">placa de video</option>
							</select>
						</div>

						<br></br> 
						<div class="form-group">
							<label for="motherboard"></label> 
							<select name="mother" class="form-control" id="motherboard" >
								<option th:each="producto:${listadoMotherboard}" th:value="${producto.id}" th:text="${producto.marca} +' '+ ${producto.modelo}">placa de video</option>
							</select>
						</div>
						<br></br> 
						<div class="form-group">
							<label for="discoduro"></label> 
							<select name="disco" class="form-control" id="discoduro" >
								<option th:each="producto:${listadoDiscoDuro}" th:value="${producto.id}" th:text="${producto.marca} +' '+ ${producto.modelo}">placa de video</option>
							</select>
						</div>
						<br></br> 
						<div class="form-group">
							<label for="game"></label> 
							<select name="juego" class="form-control" id="game" >
								<option th:each="juego:${listadoJuegos}"  th:value="${juego.id}" th:text="${juego.nombre}">placa de video</option>
							</select>
						</div> 
						<input type="submit"></input>
					</form>
				</div>
			</div>
			<div th:replace="fragments/header :: footer"></div>
			
			
		</div>	
	</body>

</html>