<!doctype html>
<html>
<head>
	<div th:replace="fragments/header :: headhtml"></div>
	<meta charset="UTF-8"></meta>
	<title>Home</title>
</head>

<body>
	<div class="container">
		<div th:replace="fragments/header :: header">Header</div>
		<div class="row">
			<div class="col-12">
				<div class="row">
					<a class="btn btn-primary" href="/arma-tu-pc/crear-pc">CREAR PC</a>
				</div>
			</div>
		</div>
		<div th:replace="fragments/header :: footer"></div>
	</div>
</body>

</html>