<!doctype html>
<html>
	<head>
		<div th:replace="fragments/header :: headhtml">Header</div>
		<meta charset="UTF-8"></meta>
		<title>detalle producto</title>
	</head>


	<body>
		<div class="container">
			<div th:replace="fragments/header :: header">Header</div>
			<div class="row">
				<h1>detalle producto</h1>
			</div>
			<div class="row">
				<div class="col-6 ">
					<img class="img-fluid" th:src="${urlimagen}"></img>
				</div>
				<div class="col-6">
					<label class="text-uppercase" th:text="${tipo} + ' ' + ${marca} + ' ' + ${modelo}"> </label>
					<br></br>
					<label>SOCKET CPU:&nbsp;</label><label class="text-uppercase" th:text="${socketcpu}"> </label>
					<br></br>
					<label>SOCKET RAM:&nbsp;</label><label class="text-uppercase" th:text="${tiporam}"> </label>
					<br></br>
					<label class="text-uppercase" th:text="${pci}"> </label>
					<br></br>
					<label class="text-uppercase"  th:text="${sata}"> </label>
					<br></br>
					<label>PRECIO:$&nbsp;</label><label th:text="${precio}"> </label>		
				</div>
			</div>
			<div th:replace="fragments/detalleComentarios :: comentarios"></div>					
			<div th:replace="fragments/header :: footer"></div>
			
		</div>
	</body>

</html>