<!doctype html>
<html>
	<head>
		<div th:replace="fragments/header :: headhtml">Header</div>
		<meta charset="UTF-8"></meta>
		<title>detalle producto</title>
	</head>


	<body>
		<div class="container">
			<div th:replace="fragments/header :: header">Header</div>
			<div class="row">
				<h1>detalle producto</h1>
			</div>
			<div class="row">
				<div class="col-6 ">
					<img class="img-fluid" th:src="${urlimagen}"></img>
				</div>
				<div class="col-6">
					<label>tipo:</label><label th:text="${tipo}"> </label>
					<br></br>
					<label>marca:</label><label th:text="${marca}"> </label>
					<br></br>
					<label>modelo:</label><label th:text="${modelo}"> </label>
					<br></br>
					<label>compatibilidad cpu:</label><label th:text="${tiporam}"> </label>
					<br></br>
					<label>tamaño de la memoria:</label><label th:text="${velocidad}"> </label>
					<br></br>
					<label>velocidad:</label><label th:text="${tamanio}"> </label>
					<br></br>
					<label>rendimiento:</label><label th:text="${rendimiento}"> </label>
					<br></br>
					<label>precio:$</label><label th:text="${consumo}"> </label>
					<br></br>
					<label>precio:$</label><label th:text="${precio}"> </label>		
				</div>
			</div>
			<div th:replace="fragments/detalleComentarios :: comentarios"></div>					
			<div th:replace="fragments/header :: footer"></div>
			
		</div>
	</body>

</html>