<!doctype html>
<html>
<head>
<div th:replace="fragments/header :: headhtml">Header</div>
<meta charset="UTF-8"></meta>
<title>Registro de Usuario</title>
</head>

<body>

	<div class="container">
		<div th:replace="fragments/header :: header">Header</div>
		<div class="contenido-de-pagina">
				<div class="row">
				<div class="col-6">
				<h1>Modificar Usuario</h1>
					<form action="/update-usuario">
						<input name="id" type="hidden" placeholder="Ingrese id" th:value="${id}"></input><br></br> 
						<div class="col-12">
							<div class="row">
								<label class="col-4">Nombre</label><input class="margin-input" name="nombre" type="text" placeholder="Ingrese nombre" th:value="${nombre}"></input>
							</div>
							<div class="row">
								<label class="col-4">Apellido</label><input class="margin-input" name="apellido" type="text" placeholder="Ingrese apellido" th:value="${apellido}"></input>
							</div>
							<div class="row">
								<label class="col-4">Usuario</label><input class="margin-input" name="nick" type="text" placeholder="Ingrese usuario" th:value="${nick}"></input>
							</div>
							<div class="row">
								<label class="col-4">Contraseña</label><input class="margin-input" name="contrasenia" type="text" placeholder="Ingrese contrasenia" th:value="${contrasenia}"></input>
							</div>
							<div class="row">
								<label class="col-4">Mail</label><input class="margin-input" name="mail" type="text" placeholder="Ingrese mail" th:value="${mail}"></input>
							</div>
							<div class="row">
								<label class="col-4">PC N°</label><input class="margin-input" name="idpc" type="text" placeholder="Ingrese idpc" th:value="${idpc}"></input>
							</div>
							<div class="row">
								<label class="col-4">Url Imagen</label><input class="margin-input" name="imagen_de_perfil" type="text" placeholder="Ingrese imagen_de_perfil" th:value="${imagen_de_perfil}"></input>
							</div>
							<div class="row">
								<label class="col-4">Es Admin?</label><input class="margin-input" name="admin" type="checkbox" placeholder="Ingrese administrador" th:checked="${administrador}"></input>
							</div>
						</div>
							<input value="MODIFICAR" type="submit"></input>
					</form>
				</div>
			</div>
		</div>	
		<div th:replace="fragments/header :: footer"></div>
	</div>
	
</body>
</html>