<!doctype html>
<html>
<head>
	<div th:replace="fragments/header :: headhtml">Header</div>
	<meta charset="UTF-8"></meta>
	<title>Registro Usuario</title>
</head>

<body>

	<div class="container">
		<div th:replace="fragments/header :: header">Header</div>
		<div class="contenido-de-pagina">
			<h1>Registro para usuario nuevo</h1>
			<div class="row">
				<div class="col-5">
					<form action="/registrar-usuario">
						<label>Nombre</label><input class="form-control" name="nombre" type="text" placeholder="Ingrese su nombre..."></input>
						<label>Apellido</label><input class="form-control" name="apellido" type="text" placeholder="Ingrese su apellido..."></input>
						<label>Usuario</label><input class="form-control" name="nick" type="text" placeholder="Ingrese su usuario..."></input>
						<label>Contraseña</label><input class="form-control" name="contrasenia" type="password" placeholder="Ingrese su contraseña..."></input>
						<label>Mail</label><input class="form-control" name="mail" type="email" placeholder="Ingrese su mail..."></input>
						<br></br><input class="btn btn-primary" type="submit"></input>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="fragments/header :: footer"></div>
	</div>
	
</body>
</html>