<!doctype html>
<html>
<head>
	<div th:replace="fragments/header :: headhtml">Header</div>
	<meta charset="UTF-8"></meta>
	<title>Registro usuario</title>
</head>

<body>
	<div class="container">
		<div th:replace="fragments/header :: header">Header</div>
		<div class="contenido-de-pagina">
			<h1>Registrate</h1>
			<div class="row">
				<div class="col-5">
					<form action="/logear-usuario" method="POST">
						<input class="form-control" name="nick" type="text" placeholder="Ingrese su nick..."></input><br></br>
						<input class="form-control" name="contrasenia" type="text" placeholder="Ingrese su contraseña..."></input><br></br>
						<input class="btn btn-lg btn-primary btn-block" type="submit"></input>
					</form>
				</div>
			</div>		
		</div>
		<div th:replace="fragments/header :: footer"></div>
	</div>
</body>
</html>