<!doctype html>
<html>
<head>
	<div th:replace="fragments/header :: headhtml">Header</div>
	<meta charset="UTF-8"></meta>
	<title>Rendimiento de PC</title>	
</head>

<body>
	<div class="container">
		<div th:replace="fragments/header :: header">Header</div>
		<div class="contenido-de-pagina">
			<div class="row">
				<div class="col-6 text-capitalize">
					<div class="row">PC SELECCIONADA:</div>
					<div class="row">
						<div class="col-2"><img class="img-fluid" th:src="${urlimagenmother}"></img></div>
						<div class="col-10"><label th:text="${tipomother} + ' ' + ${marcamother} + ' ' + ${modelomother}"></label><label></label><label th:text=" '&nbsp;' +${preciomother}"></label></div>
					</div>
					<div class="row">
						<div class="col-2"><img class="img-fluid" th:src="${urlimagencpu}"></img></div>
						<div class="col-10"><label th:text="${tipocpu} + ' ' + ${marcacpu} + ' ' + ${modelocpu}"></label><label></label><label th:text=" '&nbsp;' +${preciocpu}"></label></div>
					</div>
					<div class="row">
						<div class="col-2"><img class="img-fluid" th:src="${urlimagengpu}"></img></div>
						<div class="col-10"><label th:text="${tipogpu} + ' ' + ${marcagpu} + ' ' + ${modelogpu}"></label><label></label><label th:text=" '&nbsp;' +${preciogpu}"></label></div>
					</div>
					<div class="row">
						<div class="col-2"><img class="img-fluid" th:src="${urlimagenHD}"></img></div>
						<div class="col-10"><label th:text="${tipoHD} + ' ' + ${marcaHD} + ' ' + ${modeloHD}"></label><label></label><label th:text=" '&nbsp;' +${precioHD}"></label></div>
					</div>
					<div class="row">
						<div class="col-2"><img class="img-fluid" th:src="${urlimagenram}"></img></div>
						<div class="col-10"><label th:text="${tiporam} + ' ' + ${marcaram} + ' ' + ${modeloram} + ' ' + ${tamanio1}"></label><label></label><label th:text=" '&nbsp;' +${precioram}"></label></div>
					</div>
					
					<div class="row" th:if="${tiporam2} != null">
						<div class="col-2"><img class="img-fluid" th:src="${urlimagenram2}"></img></div>
						<div class="col-10"><label th:text="${tiporam2} + ' ' + ${marcaram2} + ' ' + ${modeloram2} + ' ' + ${tamanio2}"></label><label th:text=" '&nbsp;' +${precioram2?: ''}"></label></div>					
					</div>
					<div class="row"><div class="col-12"><label>Precio total:&nbsp;</label><label>$</label><label th:text=" '&nbsp;' +${precioPC}"></label></div></div> 
					<div class="row"><label>JUEGO SELECCIONADO:</label></div>
					<div class="row">					
						<div class="col-2"><img class="img-fluid" th:src="${urlimagen}"></img></div>
						<div class="col-9"><label th:text="${nombre}"></label><label th:text=" '&nbsp;' +${precio}"></label></div>
					</div>
				</div>
				<div class="col-6">
					<h6>DESEMPEÑO</h6>
					<div class="row">
						<label class="col-2 rojo-oscuro">Muy bajo</label>
						<label class="col-2 rojo">Bajo</label>
						<label class="col-2 naranja">Medio</label>
						<label class="col-2 amarillo">Alto</label>
						<label class="col-2 verde">Muy alto</label>
					</div>
					<section class="grafico-barras">
						<ul>
					             <span class="barra-fondo"><label>Procesamiento de la Gpu</label>
			                <li class="barras" th:value="${renplaca}"></li>
					             </span>
					             <span class="barra-fondo"><label>Cantidad de memoria Gpu</label>
			              	<li class="barras" th:value="${vram}"></li>
					             </span>
					             <span class="barra-fondo"><label>Procesamiento del Cpu</label>
			              	<li class="barras" th:value="${renmicro}"></li>
					             </span>
					             <span class="barra-fondo"><label>Cantidad de memoria Ram</label>
			              	<li class="barras" th:value="${ram}"></li>
					             </span>						                 
						</ul>
					</section>
					<label th:text="${renPlacaDeVideoJuego} + ' ' + ${vramZ} + ', ' + ${renProcesadorZ} + ' y por ultimo ' + ${ramZ}"></label>
				</div>
			</div>
			<div class="row">
				<a class="nav-link" href="/armar-pc-de-prueba">Probar otra pc</a>
			</div>
		</div>
					
		<div th:replace="fragments/header :: footer"></div>
	</div>
</body>
</html>