<!doctype html>
<html>
<head>
	<div th:replace="fragments/header :: headhtml">Header</div>
	<meta charset="UTF-8"></meta>
	<title>Mi Perfil</title>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/header :: header">Header</div>
			<div class="contenido-de-pagina">
				<div class="row">
					<h1>PERFIL USUARIO</h1>
				</div>
				<div class="row">
				<div class="col-6">
					<label>NOMBRE:&nbsp;</label><label class="text-capitalize" th:text="${nombre} + ' ' + ${apellido}"> </label>
					<br></br>
					<label>USUARIO:&nbsp;</label><label th:text="${nick}"> </label>
					<br></br>
					<label>MAIL:&nbsp;</label><label th:text="${mail}"> </label>
					<br></br>
					<img class="img-fluid col-4" th:src="${imagenDePerfil?: ''}"></img>
					<div class="row">
						<!--<div class="col-6">
							<h3>Filestack</h3>
							<button id="botonSubirImagen">Subir imagen</button>
							<form action="/subir-imagen">
								<input type="hidden" name="inputUrlImagen" id="inputUrlImagen"></input>
								<input type="submit"></input>
							</form>
						</div>-->
						<div class="col-10">
							<div class="row">
								<button class="btn btn-secondary b-subir " id="upload_widget_opener">Cambiar Imagen de Perfil</button>
								<h4 class="div_oculto b-enviar">La imagen se ha subido con exito</h4>
								<form class="imagen-nueva div_oculto b-enviar" action="/subir-imagen">
									<input class="foto" type="hidden" name="inputUrlImagen"></input>
									<input class="btn btn-primary" type="submit" value="aplicar cambios"></input>
								</form>	
							</div>
						</div>
					</div>
				</div>
				<div th:if="${idpc} != 0" class="col-6">
					<div class="text-capitalize">	
						<h3>Mi PC</h3>
						<div class="row text-uppercase">
							<div class="col-2"><img class="img-fluid" th:src="${urlimagenmother?: ''}"></img></div>
							<div class="col-10"><label th:text="${tipomother?: ''} + ' ' + ${marcamother?: ''} + ' ' + ${modelomother?: ''}"></label></div>
						</div>
						<div class="row">
							<div class="col-2"><img class="img-fluid" th:src="${urlimagencpu?: ''}"></img></div>
							<div class="col-10"><label th:text="${tipocpu?: ''} + ' ' + ${marcacpu?: ''} + ' ' + ${modelocpu?: ''}"></label></div>
						</div>
						<div class="row">
							<div class="col-2"><img class="img-fluid" th:src="${urlimagengpu?: ''}"></img></div>
							<div class="col-10"><label th:text="${tipogpu?: ''} + ' ' + ${marcagpu?: ''} + ' ' + ${modelogpu?: ''}"></label></div>
						</div>
						<div class="row">
							<div class="col-2"><img class="img-fluid" th:src="${urlimagenHD?: ''}"></img></div>
							<div class="col-10"><label th:text="${tipoHD?: ''} + ' ' + ${marcaHD?: ''} + ' ' + ${modeloHD?: ''}"></label></div>
						</div>
						<div class="row">
							<div class="col-2"><img class="img-fluid" th:src="${urlimagenram1?: ''}"></img></div>
							<div class="col-10"><label th:text="${tiporam1?: ''} + ' ' + ${marcaram1?: ''} + ' ' + ${tamanio1?: ''}"></label></div>
						</div>
						<div class="row">
							<div class="col-2"><img class="img-fluid" th:src="${urlimagenram2?: ''}"></img></div>
							<div class="col-10"><label th:text="${tiporam2?: ''} + ' ' + ${marcaram2?: ''} + ' ' + ${tamanio2?: ''}"></label></div>
						</div>
					</div>
					<br></br>
					<div class="row">
						<div>
							<a class="btn btn-danger" th:href="${urlEliminarPc}">Eliminar PC</a>
						</div>
						<form class="col-6" action="/comparar-pc">
							<input name="micro" type="hidden" th:value="${micro}"></input>
							<input name="placa" type="hidden" th:value="${placa}"></input>
							<input name="memoria1" type="hidden" th:value="${memoria1}"></input>
							<input name="memoria2" type="hidden" th:value="${memoria2}"></input>
							<input name="mother" type="hidden" th:value="${mother}"></input>
							<input name="disco" type="hidden" th:value="${disco}"></input>
							<select name="juego" class="form-control text-capitalize" id="game" >
								<option th:each="juego:${listadoJuegos}"  th:value="${juego.id}" th:text="${juego.nombre}"></option>
							</select>
							<input value="COMPARAR CON JUEGO" type="submit"></input>
						</form>
					</div>
				</div>
				<div class="col-6" th:if="${idpc} == 0">
						<a class="btn btn-primary" th:href="${urlCrearPc}" th:text="${botonCrearPc}"></a>
				</div>
			</div>				
		</div>
		<div th:replace="fragments/header :: footer"></div>
	</div>
</body>
</html>