<!doctype html>
<html>
<head>
<div th:replace="fragments/header :: headhtml">Header</div>
<meta charset="UTF-8"></meta>
<title>Registro de producto</title>
</head>

<body>
	<div class="container">
		<div th:replace="fragments/header :: header">Header</div>
		<div class="contenido-de-pagina">
			<div class="row">
				<div class="col-6">
					<h1>Registrar Juego</h1>
					<form action="/insertar-juego">
						<div class="col-12">
							<input name="id" type="hidden" placeholder="Ingrese id" th:value="${id}"></input>
							<div class="row">
								<label class="col-4">Nombre</label><input class="margin-input" name="nombre" type="text" placeholder="Ingrese el nombre" th:value="${nombre}"></input>
							</div>
							<div class="row">
								<label class="col-4">Desarrollador</label><input class="margin-input" name="desarrollador" type="text" placeholder="Ingrese el desarrollador" th:value="${desarrollador}"></input>
							</div>
							<div class="row">
								<label class="col-4">Fecha</label><input class="margin-input" name="fecha" type="text" placeholder="Ingrese la fecha" th:value="${fecha}"></input>
							</div>
							<div class="row">
								<label class="col-4">Plataforma</label><input class="margin-input" name="plataforma" type="text" placeholder="Ingrese plataforma" th:value="${plataforma}"></input>
							</div>
							<div class="row">
								<label class="col-4">Genero</label><input class="margin-input" name="genero" type="text" placeholder="Ingrese genero" th:value="${genero}"></input>
							</div>
							<div class="row">
								<label class="col-4">Cpu Minimo</label><input class="margin-input" name="rencpu1" type="text" placeholder="Ingrese rencpu1" th:value="${rencpu1}"></input>
							</div>
							<div class="row">
								<label class="col-4">Cpu Recomendada</label><input class="margin-input" name="rencpu2" type="text" placeholder="Ingrese rencpu2" th:value="${rencpu2}"></input>
							</div>
							<div class="row">
								<label class="col-4">Gpu Minima</label><input class="margin-input" name="rengpu1" type="text" placeholder="Ingrese rengpu1" th:value="${rengpu1}"></input>
							</div>
							<div class="row">
								<label class="col-4">Gpu Recomendada</label><input class="margin-input" name="rengpu2" type="text" placeholder="Ingrese rengpu2" th:value="${rengpu2}"></input>
							</div>
							<div class="row">
								<label class="col-4">Vram Minima</label><input class="margin-input" name="vram1" type="text" placeholder="Ingrese vram1" th:value="${vram1}"></input>
							</div>
							<div class="row">
								<label class="col-4">Vram Recomendada</label><input class="margin-input" name="vram2" type="text" placeholder="Ingrese vram2" th:value="${vram2}"></input>
							</div>
							<div class="row">
								<label class="col-4">Ram Minima</label><input class="margin-input" name="ram1" type="text" placeholder="Ingrese ram1" th:value="${ram1}"></input>
							</div>
							<div class="row">
								<label class="col-4">Ram Recomendada</label><input class="margin-input" name="ram2" type="text" placeholder="Ingrese ram2" th:value="${ram2}"></input>
							</div>
							<div class="row">
								<label class="col-4">Precio</label><input class="margin-input" name="precio" type="text" placeholder="Ingrese precio" th:value="${precio}"></input>
							</div>
							<div class="row">
								<label class="col-4">Url Imagen</label><input class="margin-input" name="urlimagen" type="text" placeholder="Ingrese urlimagen" th:value="${urlimagen}"></input>
							</div>
						</div>
						
						<input value="REGISTRAR" type="submit"></input>
					</form>
				</div>
			</div>		
		</div>	
		<div th:replace="fragments/header :: footer"></div>
	</div>
</body>
</html>